# **Lesson 2**
1. Syntax  
2. Variables  
3. Data Types

##1. Python syntax  
Syntax is a computing word for programming language rules. Every programming language will have its own 'grammatical' rules that the coder needs to follow, and thse differences are a result of designs to address specific needs and solve specific problems.  

Rule 1:  
Python is **case-sensitive**.  

Rule 2:  
All open **inverted commas and brackets** have to be closed.

Rule 3:  
**Indentation** at the front of code lines matter, and usually appears after a colon from the previous line. More about this in lesson 4.  

First, let's introduce you to syntax errors. Copy/paste and run this line of code:  

```print(Hello World)```

In [ ]:
#paste code and run code
print(Hello World) # Bruh :)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-1-7f3e32ac93f7>, line 2)

Notice that the error looks daunting because it's in red and has a lot of information. Just look for the line number the error occurred and the nature of the error for clues. Are you able to fix the error in the above cell?

##2. Variables  
**Variables** are storage locations used to hold **data**. Unlike other languages, such as Java, Python has no command for declaring a variable, so you create one the moment you first assign a value to it. ie creating variables on the fly. They can be assigned values directly, the values of other variables, or the result of a math operation or input. NOTE: some words cannot be used as variable names as they are **reserved** for other important purposes, and are usually highlighted in a different colour, eg. print(), str, int, list, for, in, as  

Note there are some basic rules to naming variables:
   * A variable name can only contain **alpha-numeric** characters and **underscores** (A-z, 0-9, and _ )
   * A variable name must start with a **letter** or the **underscore** character ```_```
   * A variable name cannot start with a **number**
   * Variable names are **case-sensitive** (age, Age (called camelcase which we try to avoid in Python) and AGE are three different  
   variables)  
   * In Python, when a variable is in **FULL CAPITALS**, it means that the variable is meant to be a constant, eg.  
   ```PI = 3.142```

##3. Data Types  
There are several data types natively supported by Python 3, but we'll introduce just five basic types, and leave finding the others as an exercise for more curious learners:  
1. string (str) - for storing alphanumeric text
2. integer (int)- for integers
3. float (float) - for floating point numbers aka decimal numbers
4. boolean (bool) - for storing True/False values
5. list (list) - an array, or "container", used to store other data types  

Let's use the **`type()`** in-built command to inspect some of these data types.

In [ ]:
#In the next line, we create a variable called variable1 and assign the value of 12 to it initially
print(type('123'))
print(type(123))
print(type(1.23))
print(type(True))
print(type([1,2,3]))
print(type((1,)))
print(type({}))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
x = 1.23
if type(x) == float:
    print(x, "is a floating point number")

1.23 is a floating point number

#Typecasting

Typecasting is the conversion of one data type to another.  
Complete and run the following lines of code:  
![image.png]()

In [ ]:
age = input("Enter your age: ")
print("The type of age is actually ", type(age))
print("Next year, your age will be ", int(age) + 1)

Enter your age: 18
The type of age is actually  <class 'str'>
Next year, your age will be  19

You just encountered an error, but not to worry.  
Notice that the default input data type is string. We'll have to use this concept called typecasting to convert a data type to another. These namely are:  
1. str() - for converting contents of brackets into string
2. int() - for converting contents of brackets into integer
3. float() - for converting contents of brackets into float
4. bool() - for converting contents of brackets into boolean
5. list() - for converting contents of brackets into list  

Let's copy and paste the code from the above block and insert the `int()` command to convert the age data from string to integer

In [24]:
print(str(123))
print(float(123))
print(bool("False"))
print(list((1,)))
print(tuple([1,0]), end = "\n\n")
print(type(str(123)))
print(type(float(123)))
print(type(bool("False"))) # str to bool
print(type(list((1,)))) # NEED TWO BRACKETS FOR TUPLE
print(type(tuple([1,0]))) # list to tuple

123
123.0
True
[1]
(1, 0)

<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>

##**Class Practice Q1**  
Write the python code to take inputs for your weight in kg and height in metres
  
and then output your BMI (Body Mass Index) which is, weight divided by the square of height.   
Round off the BMI value to one decimal point.

## Expected output
**(please use your own weight and height)**  
```
Enter your weight in kg :74.9  
Enter your height in metres :1.64  
Your BMI is *27.8*
```

Use **comment lines** where necessary to explain your coding.

To **round off** valus in a variable x to 2 decimal places, you can use `round(x,2)`.

In [ ]:
# code here
weight = input("Enter your weight in kg :")
height = input("Enter your height in metres :")
# Convert weight and height to float to accommodate decimals
weight = float(weight)
height = float(height)
# Calculate BMI using division and exponentiation (**)
x = weight / (height**2)
x = round(x, 1)  # Round off the BMI value to one decimal point.
print("Your BMI is", str(x))

Enter your weight in kg :74.9
Enter your height in metres :1.64
Your BMI is 27.8

In [ ]:
# code here
weight = input("Enter your weight in kg :")
height = input("Enter your height in metres :")
x = float(weight) / float(height)**2
print("Your BMI is *" + str(round(x,1)) + "*")

Enter your weight in kg :74.9
Enter your height in metres :1.64
Your BMI is *27.8*

##**Class Practice Q2**  

Create a program to ask a student for:  
1. name (string)
2. age (integer)
3. enrollment status in Dunman High (boolean)
4. English overall marks from Year 1 (rounded to nearest integer)
5. Maths overall marks from Year 1 (rounded to nearest integer)
6. Science overall marks from Year 1(rounded to nearest integer).

Subsequently, the program should output the various info, and the average marks of the three subjects. The input and output should look like this:

```
Enter your name: Charlotte
Enter your age: 18
Are you currently enrolled in the school? (True/False): True
Enter the marks for Y1 EL overall: 70
Enter the marks for Y1 Math overall: 68
Enter the marks for Y1 Sci overall: 70

Student Information
Name: Charlotte
Age: 18
Enrollment Status: True
English: 70 Math: 68 Sci: 70
Your average marks is 69.33
The data type of average is <class 'float'>
```

`\n` will enter to the next line

In [27]:
'''
This program collects student information, stores it in variables of different data types,
processes and outputs the average of the marks entered.
'''

# Collecting student information
name = input("Enter your name: ")
age = int(input("Enter your age: "))
enrolled = input("Are you currently enrolled in the school? (True/False): ")
english_marks = round(int(input("Enter the marks for Y1 EL overall: ")))
maths_marks = round(int(input(f"Enter the marks for Y1 Math overall: ")))
science_marks = round(int(input(f"Enter the marks for Y1 scioverall: ")))
# processing of average marks
average_marks = round((english_marks + maths_marks + science_marks) / 3, 2)
# Displaying student informationt
print("\nStudent Information")
print("Name: ", name)
print("Age: ", age)
print("Enrollment Status: ", enrolled)
print("English:", english_marks, "Math:", maths_marks, "Sci:", science_marks)
print("Your average marks is " + str(average_marks))
print("The data type of average is", type(average_marks))

Enter your name: Charlotte
Enter your age: 18
Are you currently enrolled in the school? (True/False): True
Enter the marks for Y1 EL overall: 70
Enter the marks for Y1 Math overall: 68
Enter the marks for Y1 scioverall: 70

Student Information
Name:  Charlotte
Age:  18
Enrollment Status:  True
English: 70 Math: 68 Sci: 70
Your average marks is 69.33
The data type of average is <class 'float'>

In [2]:
def get_student_info():
    name = input("Enter your name: ")

    while True:
        try:
            age = int(input("Enter your age: "))
            break
        except ValueError:
            print("Please enter a valid integer for age.")

    while True:
        try:
            enrolled = input("Are you currently enrolled in the school? (True/False): ").strip()

            if enrolled in ['True', 'False']:
                enrolled = enrolled == 'True'
                break
            else:
                raise ValueError
        except ValueError:
            print("Please enter 'True' or 'False'.")

    def get_marks(subject):
        while True:
            try:
                return round(int(input(f"Enter the marks for Y1 {subject} overall: ")))
            except ValueError:
                print("Please enter a valid integer for marks.")

    english_marks = get_marks("EL")
    maths_marks = get_marks("Math")
    science_marks = get_marks("Sci")

    average_marks = round((english_marks + maths_marks + science_marks) / 3, 2)

    print("\nStudent Information")
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"Enrollment Status: {enrolled}")
    print(f"English: {english_marks} Math: {maths_marks} Sci: {science_marks}")
    print(f"Your average marks is {average_marks}")
    print(f"The data type of average is {type(average_marks)}")


get_student_info()

Enter your name: Charlotte
Enter your age: 18
Are you currently enrolled in the school? (True/False): True
Enter the marks for Y1 EL overall: 70
Enter the marks for Y1 Math overall: 68
Enter the marks for Y1 Sci overall: 70

Student Information
Name: Charlotte
Age: 18
Enrollment Status: True
English: 70 Math: 68 Sci: 70
Your average marks is 69.33
The data type of average is <class 'float'>

##Additional info on variable names
These reserved keywords cannot be used for variable names. Reserved keywords are commands that have special meaning in Python, and we may encounter some of them in the near future.

![image.png]()

In [ ]:
# Control Flow & Looping Keywords
control_flow = ["for", "while", "break", "continue", "if", "elif", "else"]

# Boolean & Logical Operators
boolean_operators = ["True", "False", "None", "and", "or", "not", "is"]

# Exception Handling Keywords
exception_handling = ["try", "except", "finally", "raise", "assert"]

# Function & Class Definition Keywords
function_class = ["def", "return", "lambda", "class"]

# Variable & Scope Control Keywords
scope_control = ["global", "nonlocal", "pass", "del"]

# Importing Modules Keywords
importing = ["import", "from", "as"]

# Context Management Keywords
context_management = ["with", "yield"]

##Additional resources  
Here's some additional Python resources that you may find helpful in finding out more about the concepts taught today.  


###w3schools
https://www.w3schools.com/python/python_variables.asp (variables)  
https://www.w3schools.com/python/python_datatypes.asp (data types)  

Do sign up at https://www.w3schools.com/signup/index.php for a free account if you'd like to track your own learning)  

###Youtube
You can also learn via video tutorials (I recommend these two
because they cover all our topics and use a total of only 1 hour to explain)

https://youtu.be/kqtD5dpn9C8 (skip to 0:05:30 for variables or 0:10:48 for type conversion aka typcecasting)

https://youtu.be/b093aqAZiPU (skip to 0:25:37 for variables)

Practice by using a new file in Google Colab as you watch the examples.
You need not install their recommended "IDEs" (or coding environment)
such Pycharm or Microsoft Visual Studio Code,
because you can use Google Colab to run the all the python examples they show.

You can also practice on your own by using the Sololearn learning platforms where you can sign up for a free account.

https://www.sololearn.com/learning/1073 (the Python module)