##Lesson 5 - Loops

> All additional codes are for self-interest learning purposes. <br> Due to previous algorithm language is C++  :(

In [ ]:
# Additional Notes

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [ ]:
# Convert to list
print(list(range(10)))
print(list(range(5,10)))
print(list(range(5,10,2)))
print(list(range(10,0,-1)))
print(list(range(10,-1,-1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# For loop
for i in range(10, -1, -1):
    print(i)

for _ in range(0, 11, 1):
    print(_)

print(i)
print(_)

10
9
8
7
6
5
4
3
2
1
0
0
1
2
3
4
5
6
7
8
9
10
0
10

In [ ]:
# While loop
count = 0

while count < 10:
    print("Count: ", count)
    count += 1 # Increment the 'count', otherwise it will be an infinite loop!!!

    if count < 3:
        print("Hi There!")
        continue # As if the 'break' statement doesm't exist.
        break # Ignored

    if count == 6:
        break # Break out of the while loop

    continue # Ingore everything below
    break # Ignored

Count:  0
Hi There!
Count:  1
Hi There!
Count:  2
Count:  3
Count:  4
Count:  5

##Examples

**Example 1 (Convert from miles to kilometres)**

Write a program using a loop that displays the following table (Note: 1 mile = 1.60934 km):
```
1 miles = 1.60934 kilometres
2 miles = 3.21868 kilometres
3 miles = 4.82802 kilometres
4 miles = 6.43736 kilometres
5 miles = 8.0467 kilometres
6 miles = 9.65604 kilometres
7 miles = 11.26538 kilometres
8 miles = 12.87472 kilometres
9 miles = 14.48406 kilometres
10 miles = 16.0934 kilometres
```

In [8]:
# code here
for i in range(1, 11):
    km = i * 1.60934
    print(i, "miles =", km, "kilometres")

1 miles = 1.60934 kilometres
2 miles = 3.21868 kilometres
3 miles = 4.82802 kilometres
4 miles = 6.43736 kilometres
5 miles = 8.0467 kilometres
6 miles = 9.65604 kilometres
7 miles = 11.26538 kilometres
8 miles = 12.87472 kilometres
9 miles = 14.48406 kilometres
10 miles = 16.0934 kilometres

**Example 2 (FOR loop) KIV**

Write a program to represent the following pseudocode:

![image.png]()

In [9]:
# code here
for term in range(1, 5):
    for week in range(1, 11):
        print(term, week)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
4 10

**Example 3 (Calculate the average)**

Write a program that prompts the user to enter marks and calculates the average marks.

Sample interaction:
```
Enter a mark or -1 to end: 75
Enter a mark or -1 to end: 50
Enter a mark or -1 to end: 100
Enter a mark or -1 to end: -1
The average mark was 75.0

```

In [11]:
# code here

total = 0
count = 0

while True:
    marks = int(input("Enter a mark or -1 to end: "))
    if marks == -1:
        if count == 0:
            print("No data, existing")
            break
        else:
            print("The average mark was ", total/count)
            break
    else:
        total+=marks
        count+=1

Enter a mark or -1 to end: 75
Enter a mark or -1 to end: 50
Enter a mark or -1 to end: 100
Enter a mark or -1 to end: -1
The average mark was  75.0

**Example 4 (WHILE loop) KIV**

Write a program to represent the following pseudocode:

![image.png]()

In [15]:
# code here
term = 1

while term <= 4:
    week = 1
    while week <= 10:
        print(term, week)
        week += 1
    term += 1

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
4 10

##Class Practice

**Q1 (5.4.2 Eg 6)**

Write a program which:

•	inputs the top speeds (in km/hr) of 5 cars

•	outputs the fastest speed and the slowest speed

•	outputs the average (mean) speed of all the 5 cars

In [20]:
# Define the number of cars
cars = 5

# Create an empty list to store the speeds
speeds = []

# Input the top speeds of the 5 cars
for i in range(cars):
    speed = float(input(f"Enter the top speed of car {i + 1} : "))
    speeds.append(speed)

# Using built-in functions
fastest = max(speeds)
slowest = min(speeds)

# Calculate average speed
average_speed = sum(speeds) / cars


print("Fastest speed:", fastest)
print("Slowest speed:", slowest)
print("Average speed:", round(average_speed, 2))

Enter the top speed of car 1 : 1
Enter the top speed of car 2 : 5
Enter the top speed of car 3 : 2
Enter the top speed of car 4 : 4
Enter the top speed of car 5 : 3
Fastest speed: 5.0
Slowest speed: 1.0
Average speed: 3.0

In [22]:
# code here
cars = int(input("Number of cars:"))

total = 0
fastest = float('-inf')  # A very low number so any input speed is higher
slowest = float('inf')

for i in range(cars):
    speed = int(input("Enter top speed: "))
    total += speed
    if speed > fastest:
        fastest = speed # Not the '==' sign, '==' return true or false.
    if speed < slowest:
        slowest = speed

print("fastest speed", fastest)
print("slowest speed", slowest)
print("average speed", total/cars)

Number of cars:3
Enter top speed: 1
Enter top speed: 5
Enter top speed: 4
fastest speed 5
slowest speed 1
average speed 3.3333333333333335

**Q2 (Flowcharts-Class Practice 1 Q1)**

The following formula is used to calculate n:

n = (x * x) / (1 – x).

The value x = 0 is used to stop the algorithm. The calculation is repeated using values of x until the value x = 0 is input. There is also a need to check for error conditions (x = 1). The values of n and x should be output.

Write an program for the above.

In [23]:
# code here
while True:

    x = float(input("Enter a value for x (enter 0 to stop): "))

    if x == 0:
        print("Exiting the algorithm.")
        break

    if x == 1:
        print("Error: x cannot be 1 because it causes division by zero. Please try a different value.")
        continue

    n = (x * x) / (1 - x)

    print(f"For x = {x}, n = {n}\n")

Enter a value for x (enter 0 to stop): 7
For x = 7.0, n = -8.166666666666666

Enter a value for x (enter 0 to stop): 2
For x = 2.0, n = -4.0

Enter a value for x (enter 0 to stop): -1
For x = -1.0, n = 0.5

Enter a value for x (enter 0 to stop): -3
For x = -3.0, n = 2.25

Enter a value for x (enter 0 to stop): 0
Exiting the algorithm.

**Q3 (Flowcharts-Class Practice 1 Q2)**

Write a program which takes temperatures input over a 5-day period (once per day) and outputs the number of days when the temperature (total1) was below 200C and the number of days when the temperature (total2) was 200C and above.

In [24]:
# code here

below200 = 0
above200 = 0

for i in range(5):
    # Get the temperature for the current day (converted to float for decimal values)
    temperature = float(input(f"Enter the temperature for day {i + 1} (in °C): "))

    if temperature < 200:
        below200 += 1
    else:
        above200 += 1

print("Number of days with temperature below 200°C:", below200)
print("Number of days with temperature 200°C and above:", above200)

Enter the temperature for day 1 (in °C): 230
Enter the temperature for day 2 (in °C): 210
Enter the temperature for day 3 (in °C): 278
Enter the temperature for day 4 (in °C): 189
Enter the temperature for day 5 (in °C): 156
Number of days with temperature below 200°C: 2
Number of days with temperature 200°C and above: 3

**Q4 (5.4.2 Eg 9)**

Write a program which inputs 3 numbers, each number goes through successive division by 10 until its value is less than 1. An output is produced which contains the number input and the number of times the input is being divided by 10 (Testing Data: 85, 3190, -40)

In [30]:
# code here
for i in range(3):
    num = int(input("Enter a number: "))
    number = num
    count = 0

    while num >= 1:
        num /= 10
        count += 1

    print(number, "required", count, "division(s) by 10 to become less than 1.\n")

Enter a number: 85
85 required 2 division(s) by 10 to become less than 1.

Enter a number: 3190
3190 required 4 division(s) by 10 to become less than 1.

Enter a number: -40
-40 required 0 division(s) by 10 to become less than 1.

**Q5 (Computing the greatest common divisor)**

A solution to find the greatest common divisor of two integers n1 and n2 is as follows:
* First find d to be the minimum of n1 and n2
* Then check whether d, d-1, d-2, … 2, or 1 is a divisor for both n1 and n2 in this order.
* The first such common divisor is the greatest common divisor for n1 and n2.

Write a program to implement this solution.  
Sample interaction:
```
Enter n1: 12
Enter n2: 18
GCD: 6
```

In [33]:
# code here
n1 = int(input("Enter n1: "))
n2 = int(input("Enter n2: "))

d = min(n1, n2)

while d > 0:
    if n1 % d == 0 and n2 % d == 0:

        #greatest common divisor
        gcd = d
        break
    d -= 1

print("GCD:", gcd)

Enter n1: 12
Enter n2: 18
GCD: 6

**Q6 (tax calculation)**

A town contains 5 houses. Each house owner must pay tax based on the value of the house. Houses over SGD200 000 pay 2% of their value in tax, houses over SGD100 000 pay 1.5% of their value in tax and houses over SGD50 000 pay 1% of their value in tax. All others pay no tax.

Write a program to calculate the tax of the house values entered.

In [36]:
# code here
for i in range(5):
    tax = 0
    house_price = int(input("Your house price: "))
    if house_price > 200000:
        tax = house_price * 0.2
    elif house_price > 100000:
        tax = house_price * 0.15
    elif house_price > 50000:
        tax = house_price * 0.01
    else:
        tax = 0
    print("House tax for house cost SGD", house_price, "is SGD", tax)

Your house price: 300000
House tax for house cost SGD 300000 is SGD 6000.0
Your house price: 200000
House tax for house cost SGD 200000 is SGD 3000.0
Your house price: 100000
House tax for house cost SGD 100000 is SGD 1000.0
Your house price: 50000
House tax for house cost SGD 50000 is SGD 0
Your house price: 30000
House tax for house cost SGD 30000 is SGD 0

**Challenging Question (Find two highest scores)**

Write a program that prompts the user to enter the number of students and each student's name and score, and finally displays the student with the highest score and the student with the second-highest score. Enter up to 5 student records.

In [39]:
# hmm...

# Up to 5 students
num = int(input("Enter the number of students: "))

if num > 5:
    print("Only 5 records allowed. Using 5 records.")
    num = 5

# Create list: General Syntax - 'expression' for 'item' in 'iterable'
students = [
    (input("Enter student's name: "), float(input("Enter student's score: "))) # Create tuple -> expression (item)
    for _ in range(num) # For loop (iterable)
]

# Descending order of the -> lambda(creates a small function) student(input):student[1]('score')
students.sort(key=lambda student: student[1], reverse=True)


if len(students) >= 2:
    print(f"Highest Score: {students[0][0]} with a score of {students[0][1]}")
    print(f"Second Highest Score: {students[1][0]} with a score of {students[1][1]}")
elif students:
    print(f"Only one student entered: {students[0][0]} with a score of {students[0][1]}")
else:
    print("No student records entered.")

Enter the number of students: 3
Enter student's name: Moyu
Enter student's score: 78
Enter student's name: Joker
Enter student's score: 50
Enter student's name: God_Father
Enter student's score: 1000
Highest Score: God_Father with a score of 1000.0
Second Highest Score: Moyu with a score of 78.0